@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* hiding check box */

#menu-btn-click{
  display: none;
}

/* llll */
.active{
  color: red;
}

:root {
  --primary-color: #19c6a4;
  --primary-color-dark: #08b390;
}

html {
  scroll-behavior: smooth;
}

/* Navigation Section */
.navBar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary-color);
}
.max-width {
  max-width: 1300px;
  /* max-width: 1300px; */
  padding: 0 80px;
  margin: auto;
}
.navBar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.navBar .menu li {
  list-style: none;
  display: inline-block;
}
.navBar .menu li a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s ease-in-out;
}
.navBar .menu li a:hover {
  color: black;
}

/* this */
.navBar .menu li a.active   {
  color: black;
}


.class-menu-btn {
  display: none;
}
.navBar .logo span {
  transition: 0.3s ease-in-out;
}
.navBar .logo span:hover {
  color: black;
}

/* Common Styling */
section {
  padding: 100px 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 45px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
.about .title::before,
.carrer .title::before,
.education .title::before,
.skills .title::before,
.projects .title::before,
.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background-color: black;
  transform: translate(-50%);
}
.about .title::after,
.carrer .title::after,
.education .title::after,
.skills .title::after,
.projects .title::after,
.contact .title::after {
  content: "who I am";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: var(--primary-color);
  background: white;
  transform: translate(-50%);
}

/* Main Page Section */
.homePage {
  display: flex;
  height: 100vh;
  color: black;
  font-family: "Ubuntu", sans-serif;
}
.homePage .layout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
  border-radius: 16px;
}
.homePage .layout img {
  width: 30px;
  margin-bottom: 15px;
}
.homePage .max-width {
  display: flex;
  align-items: center;
  position: relative;
}
.homePage .max-width .home-content {
  margin-right: 125px;
}
.homePage .max-width img {
  width: 280px;
}
.homePage .home-content .text-1 {
  font-size: 27px;
}
.homePage .home-content .text-2 {
  font-size: 65px;
  font-weight: 600;
}
.homePage .home-content .text-3 {
  font-size: 40px;
}
.homePage .home-content .text-3 span {
  color: var(--primary-color);
  font-weight: 700;
}
#download-cv {
  background: var(--primary-color);
  border: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 24px;
  font-weight: 500;
  margin-top: 16px;
  transition: 0.2s ease-in-out;
}
#download-cv:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid;
}
#contact-me {
  background: white;
  border: none;
  color: var(--primary-color);
  border: 2px solid;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 24px;
  font-weight: 500;
  margin-top: 16px;
  margin-left: 20px;
  transition: 0.2s ease-in-out;
}
#contact-me:hover {
  background-color: var(--primary-color);
  color: white;
}
hr {
  margin: 0 100px;
  color: var(--primary-color);
}

/* About section */
.about{
  height: 120vh;
}
.about .about-content,
.projects .projects-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 24px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right p a {
  color: var(--primary-color);
}

.about .about-content .right p a:hover {
  color: var(--primary-color-dark);
}



/* Carrer section */
 .carrer{
  height: 214vh;
}
.carrer .title::before {
  width: 240px;
}
.carrer .title::after {
  content: "where I work";
}
.carrer-content {
  display: flex;
  justify-content: space-around;
}
.carrer .carrer_heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 450;
}
.carrer-content img {
  width: 61px;
}
.carrer .column .carrer1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}
.inner-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carrer .column .carrer1 .edu-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.carrer-row .text-1 {
  font-size: 18px;
  font-weight: 450;
  color: var(--primary-color);

}
.carrer-row .text-2 {
  font-size: 14px;
  color: var(--primary-color);
}
.carrer-row .text-3 {
  /* text-align: justify; */
  font-size: 15px;
}
.carrer-row .text-4 {
  font-size: 15px;
  font-weight: 450;
}
.carrer-inner-row {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}
.carrer-inner-row {
  width: 500px;
}



/* Education section */
.education .title::before {
  width: 240px;
}
.education .title::after {
  content: "what I studied";
}
.education-content {
  display: flex;
  justify-content: space-around;
}
.education .edu_heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-weight: 450;
}
.education-content img {
  width: 31px;
}
.education .column .edu1 {
  display: flex;
  justify-content: flex-start;
  margin-top: 25px;
}
.inner-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.education .column .edu1 .edu-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.edu-row .text-1 {
  font-size: 18px;
  font-weight: 450;
}
.edu-row .text-2 {
  font-size: 14px;
  color: var(--primary-color);
}
.edu-row .text-3 {
  font-size: 15px;
}
.edu-row .text-4 {
  font-size: 15px;
  font-weight: 450;
}
.inner-row {
  display: flex;
  justify-content: space-between;
}
.inner-row {
  width: 348px;
}

/* Skills Section */
.skills .title::before {
  width: 160px;
}
.skills .title::after {
  content: "what I know";
}
.skills .skills-content {
  display: flex;
}
.skills .skills-content .columns {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px 100px;
  height: 55vh;
  justify-content: space-around;
}
.skills .skills-content .columns .bars {
  margin-bottom: 15px;
}
.skills .skills-content .columns .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .skills-content .columns .info span {
  font-size: 18px;
  font-weight: 500;
}
.skills .skills-content .columns .line {
  height: 5px;
  width: 100%;
  position: relative;
  background-color: lightgrey;
}
.skills .skills-content .columns .line::before {
  content: "";
  position: absolute;
  background: var(--primary-color);
  left: 0;
  top: 0;
  height: 100%;
  width: 90%;
}
.skills .skills-content .columns .css::before {
  width: 80%;
}
.skills .skills-content .columns .js::before {
  width: 50%;
}
.skills .skills-content .columns .react::before {
  width: 80%;
}
.skills .skills-content .columns .java::before {
  width: 70%;
}
.skills .skills-content .columns .android::before {
  width: 60%;
}
.skills .skills-content .columns .xml::before {
  width: 80%;
}
.skills .skills-content .columns .c::before {
  width: 40%;
}

/* Projects section */
.projects{
  height: 175vh;
}
.projects .title::before {
  width: 215px;
}
.projects .title::after {
  content: "what I made";
}
.projects .projects-content .card {
  height: 450px;
  width: calc(33% - 20px);
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
/* .projects .projects-content .card:hover {
  background-color: var(--primary-color);
  border-radius: 12px;
  color: white;
} */
.projects .projects-content .card img {
  width: 150px;
}
.projects .projects-content .card h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  padding: 8px 0px;
}
.projects .projects-content .card p {
  font-size: 14px;
  text-align: justify;
}

/* Contact section */
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.contact .title::before {
  width: 215px;
}
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  flex-direction: row;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row .head {
  font-weight: 500;
}
.contact .contact-content .row .sub-title {
  color: #333;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .row img {
  width: 18px;
}

.contact .right form .fields {
  display: flex;
}
.contact .right form .fields,
.contact .right form .fields .field {
  height: 35px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .textarea {
  width: 100%;
  height: 125px;
  margin-top: 5px;
  padding-top: 10px;
}
.contact .right form .textarea textarea {
  resize: none;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 4px;
  outline: none;
  padding: 5px 10px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  margin-top: 16px;
  font-weight: 500;
  border-radius: 24px;
  transition: 0.2s ease-in-out;
}
.contact .right form .button button:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid;
}

/* Footer Section */
Footer {
  height: 100px;
  background-color: #444;
}

.footerTitle {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
}


 /* responsive */
@media screen and (max-width: 1235px) {
  .homePage .max-width img {
    width: 250px;
  }
  .homePage .home-content .text-2 {
    font-size: 40px;
  }
  .homePage .home-content .text-3 {
    font-size: 30px;
  }
  #download-cv {
    font-size: 19px;
    border-radius: 24 px;
    font-weight: 700;
  }
  #contact-me {
    font-size: 19px;
    font-weight: 700;
  }

  .about .about-content .left img {
    width: 300px;
    height: 300px;
  }
  .about .about-content .right .text {
    font-size: 22px;
  }
  .about .about-content .right p {
    font-size: 15px;
  }

  .projects .projects-content .card img {
    width: 125px;
  }

  .edu-row .text-1 {
    font-size: 16px;
  }
  .edu-row .text-2 {
    font-size: 12px;
  }
  .edu-row .text-3 {
    font-size: 13px;
  }
  .edu-row .text-4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1035px) {
  .skills .skills-content .columns {
    padding: 40px 80px;
  }

  .projects .projects-content .card h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 8 px 0 px;
  }
  .projects .projects-content .card p {
    font-size: 13px;
    text-align: justify;
  }

  .projects .projects-content .card img {
    width: 100px;
  }
}

@media screen and (max-width: 965px) {
  .navBar .max-width {
    padding: 0 40px;
  }

  .title {
    font-size: 30px;
  }

  .homePage .max-width .home-content {
    margin-right: 54px;
  }
  .navBar .menu li a {
    font-size: 16px;
  }
  .navBar .logo a {
    font-size: 28px;
  }
  .homePage .max-width img {
    width: 200px;
  }
  .homePage .home-content .text-1 {
    font-size: 24px;
  }
  .homePage .home-content .text-2 {
    font-size: 35px;
  }
  .homePage .home-content .text-3 {
    font-size: 24px;
  }
  #download-cv {
    font-size: 16px;
  }
  #contact-me {
    font-size: 16px;
  }

  .about .about-content .left img {
    width: 250px;
    height: 250px;
  }

  .about .about-content .right .text {
    font-size: 18px;
  }
  .about .about-content .right p {
    font-size: 14px;
  }


  .carrer .column {
    margin-right: 50px;
  }
  .carrer .carrer_heading {
    font-size: 19px;
    font-weight: 700;
  }
  .carrer-inner-row {
    width: 320px;
  }
  .carrer-row .text-1 {
    font-size: 14px;
  }
  .carrer-row .text-2 {
    font-size: 13px;
  }
  .carrer-row .text-3 {
    font-size: 13px;
  }
  .carrer-row .text-4 {
    font-size: 14px;
  }


  .education .column {
    margin-right: 50px;
  }
  .education .edu_heading {
    font-size: 19px;
    font-weight: 700;
  }
  .inner-row {
    width: 260px;
  }
  .edu-row .text-1 {
    font-size: 14px;
  }
  .edu-row .text-2 {
    font-size: 12px;
  }
  .edu-row .text-3 {
    font-size: 13px;
  }
  .edu-row .text-4 {
    font-size: 14px;
  }

  .skills .skills-content .columns .info span {
    font-size: 16px;
  }
  .skills .skills-content .columns {
    padding: 40px 50px;
  }
  .projects .projects-content .card h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 8 px 0 px;
  }
  .projects .projects-content .card p {
    font-size: 12px;
    text-align: justify;
  }

  .projects .projects-content .card img {
    width: 80px;
  }

  .contact .contact-content .left p {
    text-align: justify;
    font-size: 14px;
  }
  .contact .right form .field input,
  .contact .right form .textarea textarea {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .max-width {
    padding: 0 50px;
  }
  

  /* controlling close and menu button using a check box */
  #menu-btn-click:checked~.class-menu-btn i::before{
    content: "\f00d";
  }

  #menu-btn-click:checked~ .menu{
    left: 0%;
  }
  /* .homePage{
    height: 100vh;
  }
  .about{
    height: 100vh;
  }
  .carrer{
    height: 270vh;
  } 
    */
  .education{
    height: 110vh;
  }
  .projects{
    height: 160vh ;
    }
    /* 
  .contact{
    height: 150vh ;
  } */

    /* this */
  .navBar .menu li a.active   {
    color: var(--primary-color );
  }

  .class-menu-btn {
    display: block;
    z-index: 999;
    color: white;
    margin-top: 16px;
    font-size: 24px;
  }
  

  /* #mycheckbox:checked~
  .navBar .menu {
    left: 0%;
  } */
  
  .navBar .menu {
    display: none;
}

  /* .navBar .menu {
    position: fixed;
    height: 200vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    text-align: center;
    transition: height 0.3s step-end;
  } */

  /* .navBar .menu.active {
    left: 0;
  } */
  /* .navBar .menu li {
    display: block;
    padding-top: 70px;
  } */
  /* .navBar .menu li a {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
  } */
  /* .navBar .menu li a:hover {
    color: var(--primary-color);
  } */
  .max-width {
    padding: 0 25px;
  }

  .homePage .max-width {
    flex-direction: column-reverse;
  }
  .homePage .max-width img {
    padding: 45px 0px;
  }
 
  /* newly added - from here*/
  .about .about-content{
    flex-direction: column;
  }
  .about .about-content .left {
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .about .about-content .right {
    width: 100%;
  }
  
  .carrer .carrer-content{
    flex-direction: column;
  }    
  .carrer .column {
    margin-right: 0px;
    margin-bottom: 32px;
  }

  /* newly added */
   .education .education-content{
    flex-direction: column;
  }

  /* newly added */
  .education .education-content .column{
    padding-bottom: 32px;
   }


   .skills .skills-content .columns .info span {
    font-size: 14px;
  }
   .projects .projects-content .card {
    width: 100%;
    height: 300px;
   }
   .contact .contact-content {
    display: flex;
    flex-direction: column;
   }
   .contact .contact-content .column {
    width: 100%;
  }
}


/* 
@media screen and (max-width: 1400px) {
  .projects .projects-content .card h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 8 px 0 px;
  }
  .projects .projects-content .card p {
    font-size: 13px;
    text-align: justify;
  }
} */
